################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/romina_blobmanagement/v16
/utilities/__pycache__
/pages/__pycache__
/pages/auth_pages/__pycache__
/__pycache__
